

.containerList {
    padding: 30px;
    border-radius: 10px;
    padding: 30
}

.containerSearch {
    padding: 30px;
    box-shadow: 0px 0px 6px 1px #6161619e;
    background: #0072a3;
    border-radius: 10px;
    padding: 30;
    margin-bottom: 55px;
}


